

.cajon.color-secundario
  background-color: #EEEEF2

.margenNegativo
  margin-inline: -3rem

.bloque-texto-a.color-primario 
  background-color: #A6DAD7

.bloque-texto-a.color-primario:before 
  background-color: #EEEEF2

.bloque-texto-a:before
  left: 58%

.tarjetas-claras
  .tarjeta
    &.color-primario
      background-color: lighten($color-primario, 1%)
      
    &.color-secundario
      background-color: lighten($color-secundario, 15%)

.tarjeta.color-primario * 
  color: $color-sistema-texto

.tarjetas-claras .tarjeta.color-primario 
  background-color: #A6DAD7

.anexo
  background-color: #fff


.fa-biohazard
  color: #D93328

.responsive
  width: 400px
  display: flex
  margin: auto


@media screen and ( max-width: $bp-max-xs )
  .margenNegativo
    margin-inline: -1.5rem
  .responsive
    width: 280px
    
@media screen and ( max-width: $bp-max-lg)
  .responsive
    width: 300px
    
    
    

  
@media screen and ( max-width: $bp-max-sm )
  .margenNegativo
    margin-inline: -1.5rem